$prussian-blue:#0b3450;
$casper:#a3b3be;
$green-blue:#196fb1;
$black:#000;
$lightgray:#d3d3d3;
$snow:#fbfbfb;
$tranquil:#e1e7ea;
$white:#fff;

$primary-color:$prussian-blue;
$secondary-color:$green-blue;

$sans:"open sans","sans serif";
$oswald:"oswald","sans serif";
$colortransition:color .5s ease;
$shadetransition:background-color .5s ease;

$header-width:990px;
$image-width:325px;
$image-height:332px;
$authorDimension:84px;
$author-small-dimension:22px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.shade {
  background-color:rgba(25,113,186,.7);
  width:100%;
  height:100%;
  transition:$shadetransition;

  &:hover {
    background-color:rgba(0,0,0,0)
  }
}

body {
  margin:0;
}

.container { width:1300px; }
/*Begin Top*/
.top {
  background:url(../../background.png);
  width:100%;
  height:523px;
}

header {
  margin-top:18px;
  vertical-align:middle;
  position:relative;
  width:$header-width;
  margin:0 auto;

  nav {
    position:absolute;
    top:17px;
    letter-spacing:-.4px;
    font-size:18px;
    right:-2px;
    font-family:$oswald;
    display:inline-block;
  }
  ul {
    vertical-align:middle;
    right:0;
    display:inline-block;
    padding:0;
    margin:0;
  }
}

.list-1 {
  padding-right:6px;
}

.list-2 {
  position:relative;
  right:7px;
}

.search {
  margin-right:0;
  position:relative;
  left:5px;
}

.header-text {
  position:relative;
  top:7.5px;
  right:15px;
  letter-spacing:-.19px;
  font-size:16px;
  font-family:$sans;
  display:inline-block;
}

li {
  display:inline;
}

header a {
  margin:5px;
  color:#083451;
  text-decoration:none;
  -webkit-transition:$colortransition;
}

header a:hover {
  color:#fff;
}

.pic-search {
  position:relative;
  right:5px;
  padding-right:4px;
  padding-bottom:4px;
  vertical-align:middle;
}

.pic-logo {
  vertical-align:middle;
  position:relative;
  top:6px;
  right:17px;
}

h1 {
  letter-spacing:-4px;
  font-weight:100;
  color:white;
  font-family:$sans;
  text-align:center;
  margin:0;
  margin-top:137px;
  font-size:104px;
}

.top p {
  letter-spacing:-.49px;
  padding-right:5px;
  text-align:center;
  margin-top:-20px;
  color:#0B3550;
  font-family:$sans;
}

/* Top Elements*/

/* Begin Middle*/

.middle {
  margin:0 auto;
  height:1007px;
  width:100%;
  position:relative;
  border-bottom-color:$tranquil;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

.underhead-pic {
  background:url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/575759_10202454080138990_498206308_n.jpg?oh=c766034874d4de43ea2ad7e81f057fe0&oe=547095D7&__gda__=1416110852_76aa268f3199e4b36e5047ec5261d27a");
  background-size:$author-small-dimension $author-small-dimension;
  width:$author-small-dimension;
  height:$author-small-dimension;
  display:inline-block;
  vertical-align:middle;
}

.underhead {
  padding-left:4px;
  margin-bottom:38px;

  p {
    margin:0;
    display:inline-block;
  }
  span {
    color:#a3b3be;
  }
}

span.casper {
  position:relative;
  top:5px;
  left:10px;
  font-size:14px;
  font-family:$sans;
  letter-spacing:-.65px;
}

.middle .left {
  height:100%;
  display:inline-block;
  width:617px;
  padding:10px;
  margin-right:20px;
  padding-left:163px;
}

.middle .left a {
  color:#196FB1;
  transition:all .5s ease;
}

.middle .left a:hover {
  color:#000;
}

.content {
  letter-spacing:-.5px;
  line-height:1.67;
  margin-bottom:29px;
}

#p1 {
margin-bottom:25px;
}
#p3 {
margin-bottom:25px;
}
#p4 {
  margin-bottom:10px;
}

.middle .left h3 {
  border-left:2px $lightgray solid;
  letter-spacing:-1px;
  padding-left:17px;
  padding-top:2px;
  padding-bottom:6px;
  margin-left:5px;
  font-size:28px;
  font-family:$sans;
  color:$green-blue;
  margin-top:22px;
}

.middle .left p {
  text-align:left;
  font-size:16px;
  font-family:$sans;
  color:#525E66;
}

.middle .left .creds {
  color:$green-blue;
  font-size:12px;
  font-weight:bold;
  vertical-align:bottom;
  padding-left:4px;
}

h2 {
  font-family:$oswald;
  font-size:63px;
  color:#0B3551;
  font-weight:100;
  margin-top:51px;
  line-height:1.13;
  letter-spacing:.4px;
  margin-bottom:5px;
}

.bottom-links img {
  width:33px;
  height:30px;
  vertical-align:middle;
  background-color:#5e686f;
  -webkit-transition:$shadetransition;
}

.middle a.casper {
  color:$casper;
  -webkit-transition:$colortransition;

  &:hover {
    color:$green-blue;
  }
}

.left-margin {
  margin-left:3px;
}

.bottom-links {
  display:inline-block;
  vertical-align:middle;
  position:relative;
  top:10px;
  width:158px;
  height:30px;
}

.bottom-links a{
  color:white;
  text-decoration:none;
  font-family:$sans;
  background-color:$casper;
  display:inline-block;
  width:100%;
  height:100%;
  transition: all .5s ease;

  &:hover img {
    background-color:$prussian-blue;
  }
    span {
      margin:0 auto;
      color:white;
      font-size:13px;
  }
    &:hover {
      background-color:$green-blue;
  }
}

.author {
  margin-top:85px;
  margin-bottom:55px;

  p {
    margin-top:11px;
    margin-bottom:-5px;
    color:$green-blue;
    text-align:center;
  }
  nav {
    text-align:center;
    border-right:1px solid $snow;
  }
  a {
    color:$casper;
    text-decoration:none;
    font-size:13px;
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    letter-spacing:-.2px;
  }
  .author-pic {
    background:url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/575759_10202454080138990_498206308_n.jpg?oh=c766034874d4de43ea2ad7e81f057fe0&oe=547095D7&__gda__=1416110852_76aa268f3199e4b36e5047ec5261d27a");
    background-size:$authorDimension $authorDimension;
    display:block;
    margin:0 auto;
    width:$authorDimension;
    height:$authorDimension;
  }
}

.round {
  @include border-radius(50%);
}

.author-link {
  position:relative;
  bottom:23px;
}

.right {
  height:100%;
  display:inline-block;
  position:absolute;
  right:159px;
  top:-2px;
  width:280px;
  font-family:$sans;
}

.ad-container {
  a {
    display:block;
    text-decoration:underline;
    text-align:right;
    font-size:13px;
    margin-top:.5px;
    padding-right:1px;
    letter-spacing:.1px;
  }

  .img {
    background:url("http://placekitten.com/g/278/300");
    width:278px;
    height:300px;
    position:relative;
    bottom:4px;
  }
}

.right a {
  color:$casper;
  -webkit-transition:$colortransition;

  &:hover {
    color:$prussian-blue;
  }
}

h4 {
  color:$green-blue;
  font-family:$oswald;
  font-weight:100;
  margin-bottom:4px;
  margin-top:46px;
  font-size:18px;
  letter-spacing:-.2px;
}

.middle .right p a {
  color:$casper;
  -webkit-transition:$colortransition;

  &:hover {
    color:$black;
  }
}

.sidebar-p {
  color:$casper;
  font-size:13px;
  letter-spacing:.19px;
  line-height:1.9;
  margin-top:0;
}

.bottom h2 {
  letter-spacing:.5px;
  margin-top:35px;
  margin-bottom:40px;
}


/*These are all of the images used for the four block images under the
*"Most Popular Posts" part of the bottom of page. It uses a mix-in with
*an input variable of the linked picture to pull up each image.*/
@mixin images($link) {
  background-image:url($link);
  background-size:$image-width $image-height;
}

.pic-1 {
@include images("http://placekitten.com/325/332");
}
.pic-2 {
@include images("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/969991_10203793186215805_2659154317618703429_n.jpg");
}
.pic-3 {
@include images("http://i3.kym-cdn.com/photos/images/facebook/000/581/296/c09.jpg");
}
.pic-4 {
@include images("https://scontent-b-atl.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10258757_10152082774927611_7812950219303935176_o.jpg");
}

.pic-text {
  width:100%;
  height:50px;
  padding-top:278px;
  padding-left:15px;
  display:inline-block;
  font-family:$oswald;
  font-size:30px;
  color:#0B3450;
  -webkit-transition:$colortransition;

  &:hover {
    color:white;
  }
}

.pic-link {
  width:25%;
  height:330px;
  float:left;

  a {
    width:100%;
    height:100%;
  }
}

.doge {
  padding-top:242px;
  padding-left:18px;
  letter-spacing:1.27;
  line-height:1.3;
  height:88px;
}

.husky {
  padding-left:19px
}

.clear { clear:both; }

.bottom h2 {
  text-align:center;
  font-weight:100;
}

.footer {
  background-color:$prussian-blue;
  width:100%;
  height:98px;

  img {
    padding-top:3px;
  }
  nav {
    top:23px;
    font-family:$sans;
    font-size:13px;
    position:absolute;
    right:6px;
    }
  div {
    position:relative;
    padding-top:10px;
    width:76.7%;
    margin:0 auto;
    }
  span {
    padding-top:7px;
    font-size:14px;
    letter-spacing:-.5px;
    font-family:$sans;
    color:$casper;
    }
    div * {
      display:inline-block;
      vertical-align:middle;
      }
    a {
      padding-right:7px;
      padding-left:8px;
      border-right:1px solid $casper;
      text-decoration:none;
      -webkit-transition:$colortransition;

        &:visited {
          color:$casper;
        }

        &:hover {
          color:$white;
        }
    }
}

a.dontneedit {
  border-right:none;
}

.underline {
  text-decoration:underline;
}

.inline {
  display:inline;
}
